
<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <div class="small-12 small-centered text-center columns"><h1><a href="/global_data_objects">Pi In The Sky</a></h1></div>
    </li>
  </ul>
</nav>