<nav class="top-bar" data-topbar>
  <div class="row">
    <div class="small-12 text-center columns">
      <ul class="title-area">
        <li class="name">
          <h1><a href="/global_data_objects">Pi In The Sky</a></h1></div>
        </li>
      </ul>
    </div>
  </div>    
</nav>