
<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Pi In The Sky </a>
    </li>
    <li class="toggle-topbar menu-icon">
      <a href="#"><span></span></a>
    </li>
  </ul>

  <section class="top-bar-section">
    <ul class="left">
      <li>
        <a href="/users/#{user.id}">Profile</a></li>
      </li>
      <li>
        <a href="#" class="has-dropdown">Options</a>
        <ul class="dropdown">
          <li>Test Item</li>
        </ul>
      </li>
    </ul>
  </section>

</nav>