<nav class="top-bar user-show-page" data-topbar>
  <%=link_to "Map",:global_data_objects%>
  <div  class="row">
    <div id="pi-link" class="small-12 text-center columns">
      <h1><a href="/global_data_objects">Pi In The Sky</a></h1>
       </div><hr >
      <div id="instructions" class="center">Pi in the Sky aims to raise your awareness for health and air quality. Navigate to map for local and global data!<hr id='orange-line'></div>

  </div>
</nav>
