<body class="background">
  <div id="new-user-header" class="medium-12 medium-centered text-center columns">
    <h3 class="registration-header">Welcome To Pi In The Sky</h3>
  </div>
  <%= render './shared/errors'%>
  <%= render 'form' %>
</body>
