<div class="row">
  <div class="medium-3 medium-12 text-center columns">
  <h1>
    You are not authorized to take that action.
  </h1>
  <h2>
    You must <%= link_to "Log In", login_path %> or <%= link_to "Register", register_path %> to continue.
</h2>
  </div>

</div>