<div id="beginning-page">
<div id="register-form" class="small-12 small-centered text-center columns">
<h1 id="homepage-header">Pi In The Sky</h1>

    <%= link_to "Register", register_path, class: "register-link" %>
    <br>
    <%= link_to "Login", login_path, class: "login-link" %>
    </div>
</div>
