<!DOCTYPE html>
<html>
  <head>
    <style>
      #map {
        width: 500px;
        height: 400px;
      }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

  </head>
  <body>
    <div id="map"></div>
    <script>
      function initMap() {
        var mapDiv = document.getElementById('map');
        var map = new google.maps.Map(mapDiv, {
          center: {lat: 44.540, lng: -78.546},
          zoom: 8
        });

        google.maps.event.addListener(map, 'click', function(event) {
          //store LAT/LON upon click of google
          var x = "ok"
          var lat = (event.latLng.lat())
          var lng = (event.latLng.lng())
          var latlength = Math.floor(lat * 10000000) / 10000000
          var lnglength = Math.floor(lng * 10000000) / 10000000
          // post to rails backend with lat lon
          // rails backend makes request to API

        // $.ajax({
        //   // GET json data from Breezy API using google maps LAT/LON
        //   url: "https://api.breezometer.com/baqi/?lat="+latlength+"&lon="+lnglength+"&key=c0bfb33a27924f7e95a828abc931d5a0",
        //   dataType: "json",
        //   {option: '1'}

          $.get("https://api.breezometer.com/baqi/?lat="+latlength+"&lon="+lnglength+"&key=c0bfb33a27924f7e95a828abc931d5a0", {name: "john"}).then(function(response){
            // display AQI data on page
            if(response.data_valid == true){
              document.getElementById("output").innerHTML =
              [response.breezometer_aqi, response.dominant_pollutant_description, response.breezometer_description, response.dominant_pollutant_text["effects"]];
            } else {
              document.getElementById("output").innerHTML =
              "Air quality cannot be read. You may be on the brink of death."
            }
            // POST response to server to create AQI object
            $.ajax({
                  url: '/global_data_objects',
                  dataType: 'json',
                  method: 'post',
                  data: {response, "authenticity_token": "<%= form_authenticity_token %>"}
                })
              })
            });
          }
    </script>
    <div id="AQI-container">
      <!-- show data object -->
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPFEGsOj9qknr0hyVxA78O8cS0OTbvbrE&callback=initMap"
        async defer></script>

        <div id="output">Air Quality Metrics:</div>
        <%=render "errors"%>
        <%= button_to "Favorite!", { action: "create", controller: "favorites" } %>
    <div>

    </div>
  </body>
</html>
