 <!DOCTYPE html>
<html>
  <head>
    <style>
      #map {
        width: 1300px;
        height: 400px;
      }
    </style>


  </head>
  <body>
    <%if LocalDataObject.any? %>
    <center><h3>Sensor Data</h3></center>
    <div id="sensor"><%=@local_data_object.sensor_output%></div>
    <%else%>
    <h2>No Sensor Data Available</h2>
    <%end%>
    <center><h3>Air Quality Index Locator</h3></center>
    <div id="map"></div>

    <div id="AQI-container">
      <!-- show data object -->
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPFEGsOj9qknr0hyVxA78O8cS0OTbvbrE&callback=initMap"
        async defer></script>
        <p>Click the map to get your AQI details!</p>
      <table>
        <tr>
          <td><b>City</b></td>
          <td><b>AQI</b></td>
          <td><b>Description</b></td>
          <td><b>Primary Toxin</b></td>
        </tr>
        <tr>
          <td id="city"></td>
          <td id="AQI"></td>
          <td id="AQIdesc"></td>
          <td id="pollutant"></td>
        </tr>
      </table>
        <p id="dominant-pollutant-text"></p>
        <div id="output"></div>
        <b><%= button_to "Favorite!", action: "create", controller: "favorites" %></b>
    <div>
    <%if @user %>
      <a href="/users/<%=@user.id%>"><b>User Profile</b></a>
    <%end%>
    </div>
     <center><%=image_tag ("aqi-conditions.png")%> </center>
  </body>
</html>
