<!DOCTYPE html>
<html>
  <head>
    <style>
      #map {
        width: 1300px;
        height: 400px;
      }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

  </head>
  <body>
    <center><h3>Air Quality Index Locator</h3></center>
    <div id="map"></div>
    <script>
    function getState(results){
      for (i = 0; i < results[0].address_components.length; i++){
        if(results[0].address_components[i].types[0].includes("administrative_area_level_1")){
          return results[0].address_components[i].short_name
        }
      }
    }
      function initMap() {
        var mapDiv = document.getElementById('map');
        var map = new google.maps.Map(mapDiv, {
          center: {lat: 40.7118739, lng: -74.002533},
          zoom: 10
        });
        var geocoder  = new google.maps.Geocoder();             //

        google.maps.event.addListener(map, 'click', function(event) {
          //store LAT/LON upon click of google
          var x = "ok"
          var lat = (event.latLng.lat())
          var lng = (event.latLng.lng())
          latlength = Math.floor(lat * 10000000) / 10000000
          lnglength = Math.floor(lng * 10000000) / 10000000

          $.get("https://api.breezometer.com/baqi/?lat="+latlength+"&lon="+lnglength+"&key=c0bfb33a27924f7e95a828abc931d5a0").then(function(response){
            // reverse geolocate address based on coordinates

            var location  = {lat: latlength, lng: lnglength}

            // turn coordinates into an object
            geocoder.geocode({'latLng': location}, function (results, status) {
              if(status == google.maps.GeocoderStatus.OK && response.data_valid == true) {
              debugger;         // if geocode success
                city = results[0].address_components[3].short_name
                state = getState(results);
            // if address found, pass to processing function
            // document.write(add);

              }


            // display AQI data on page

            if(response.data_valid == true){
              // debugger;
              document.getElementById("city").innerHTML = [city, state]

              document.getElementById("AQI").innerHTML = [response.breezometer_aqi];

              document.getElementById("AQIdesc").innerHTML = [response.breezometer_description];

              document.getElementById("pollutant").innerHTML = response.dominant_pollutant_description
               ;

              document.getElementById("dominant-pollutant-text").innerHTML = response.dominant_pollutant_text["effects"]
               ;

            } else {
              document.getElementById("output").innerHTML =
              "Air quality cannot be read. You may be on the brink of death."
            }
            // POST response to server to create AQI object
            $.ajax({
                  url: '/global_data_objects',
                  dataType: 'json',
                  method: 'post',
                  data: {response, city, "authenticity_token": "<%= form_authenticity_token %>"}
                  // remeber to pass in specific address
                })
              })
            });
        // closing geocoder here to retain access to 'city' variable
            })
          }
    </script>
    <div id="AQI-container">
      <!-- show data object -->
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPFEGsOj9qknr0hyVxA78O8cS0OTbvbrE&callback=initMap"
        async defer></script>
        <p>Click the map to get your AQI details!</p>
      <table>
        <tr>
          <td><b>City</b></td>
          <td><b>AQI</b></td>
          <td><b>Description</b></td>
          <td><b>Primary Toxin</b></td>
        </tr>
        <tr>
          <td id="city"></td>
          <td id="AQI"></td>
          <td id="AQIdesc"></td>
          <td id="pollutant"></td>
        </tr>
      </table>
        <p id="dominant-pollutant-text"></p>
        <div id="output"></div>
        <b><%= button_to "Favorite!", action: "create", controller: "favorites" %></b>
    <div>
      <a href="/users/<%=@user.id%>"><b>User Profile</b></a>

    </div>
     <center><%=image_tag ("aqi-conditions.png")%> </center>
  </body>
</html>
