h1 {
  font-family: 'Montserrat';
  text-align: 'center';
}

#new-user-header {
  text-align: 'center';
}

#register-form {
  font-family: 'Montserrat';
  text-align: 'center';
}

.button {
  text-align: 'center';
}
.name {
  list-style: none;
}

.favorite-cities {
  font-family: 'Montserrat'
}

a {
  text-align: 'center'
}

input[placeholder]{

    color:#2BA6CB;
    text-align:center;

}

.top-bar {
    overflow: hidden;
    background-color: white;
}

input:required:invalid, input:focus:invalid {
    background-image: url(image-path("/images/invalid.png"));
    background-position: right;
    background-repeat: no-repeat;
  }
  input:required:valid {
    background: url(image-path("/images/valid.png"));
    background-position: right;
    background-repeat: no-repeat;
  }


/*#container {
  background: linear-gradient(white, #ccf5ff);
}
*/

#row-above-map {

 background-color:#FAFAED;
  height: 88px;
  position: relative;
  bottom: 10px
}

#favorite {
    visibility: hidden;
    background-color: #49B7F2;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
}

#user-profile-link{
  position: relative;
  bottom: -3px;
  padding: 3px;
  color: #49B7F2;
  font-family: 'Montserrat', sans-serif;
  left: 32px;
  font-size: 20px;
}

#sensor-text{
  font-family: 'Montserrat', sans-serif;

}

#map-header-text {
  position: relative;
  top: 19px;
  font-family: 'Montserrat', sans-serif;
  font-size: 33px;

}

#map-instruction-text {
  position: relative;
  top: 10px;
  font-size: 20px;
}

#map {
        width: 100%;
        height: 500px;
      }

#sensor {
  font-size: 5em;
}



#favorites {
  border:1px solid #FA6900;
  margin:2em;
  padding:1em;
}

.center {
  text-align: center;
}


.small-select {
  width:1em;
}

#alert_level_div {
  display: inline-block;
  width: 4em;
}

#phone_div {
  display: inline-block;
}

#edit_form {
  font-size: 1em;
}

.phone_number {
  height:2.2em;
  width:8em;
}

.alert_level {
  height:2.2em;
}


#GDO-index-header{
  text-align: center;
  background-color: #F38630;
  height: 60px;
  border-radius: 166px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}


#container {
  font-family: 'Montserrat', sans-serif;
}

#first {
  border-radius: 15px 0 0 0;
}


#output{
  position: relative;
  visibility: hidden;
  border: 1px solid #E0E4CC;
  padding: 6px;
  top: -18px;
}

#last {
  border-radius: 0 15px 0 0;
}

#pi-link{
  background-color:#E0E4CC;
  position:relative;
  font-family: 'Montserrat', sans-serif;

}

#orange-line {
   border-top: 1px solid #FA6900;

}

#blue-line {
 border-top: 1px solid #49B7F2;
}
#GDO-index-info {
  text-align: center;
  background-color: #E0E4CC;
  font-family: 'Montserrat', sans-serif;
}

#user-profile-link:hover {
    color: #F38630;
}

.AQI-Image {
  border: 1px solid black;
}
footer {
  text-align: center;
  background-color: #E0E4CC;
  color: #49B7F2;
  margin-top: 20px;
  position: relative;
  bottom: -59px;
}
